*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}
.main{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vw 9vw;
  position: sticky;
  top: 0;
  left: 0;
  background-color: white;
  background-attachment: local;
}
.logo img{
  width: 5vh;
}
.nav ul,li,a{
  text-decoration: none;
  list-style: none;
  color: black;
  font-size: 0.9vw;
  padding: 0 15px;
  font-weight: bold;
}
.nav a:hover{
  text-decoration: underline  3px rgb(91, 91, 255);
  text-decoration-skip: 20px;
  text-underline-offset: 10px;
 
}
.main2{
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding: 2vw 9.5vw;
  flex-wrap: wrap;
}
.text{
 align-items: center;
}
.text h1{
  background: linear-gradient(90deg,rgba(0, 136, 255, 1)0%,rgba(160, 51, 255, 1)30%,rgba(255, 92, 135, 1)80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 5vw;
  margin-bottom: 25px;
}

.text p{
  font-size: 1.2vw;
  line-height: 1.7vw;
  margin-bottom: 20px;
}
.text input[type='text']{
  padding: 13px 5vw 13px 15px;
  width: 300px;
  margin-bottom: 20px;
  outline-color:rgb(124, 124, 244);
  outline-width: 0.4px;
  border-radius: 10px;
  border: none;
  text-wrap: wrap;
background-color:rgb(245, 246, 247);
margin-bottom: 2vw;

}
.text input::placeholder{
  color: grey;
  opacity: 1;
  width: 100%;
  
}
.text button{
  float:left;
  margin-right: 25px;
  color: white;
  background-color: rgb(84, 84, 231);
  border: none;
  padding: 1vw 2.5vw;
  border-radius: 25px;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 15px;
  cursor: pointer;
  transition: background-color 0.15s;
}
.text button:hover{
  background-color: blue;
}
.text h4{
 color: rgb(111, 111, 250);
 text-decoration: underline;
 margin-bottom: 15px;
}
.text input[type='checkbox']{
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
}
.text span{
  font-size: 1vw;
  color: grey;
}
.text img{
  width: 9vw;
  margin-left: 10px;
}
.photo img{
  width: 75.3vh;
}
.last{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vw 4vw;
}
.policies{
  display:flex;
  align-items: center;
}
.policies img{
  width: 9vw;
}
.meta{
  display: flex;
  align-items: center;
  gap: 20px;
}
.meta h1{
  font-size: 1vw;
}

